1) Crie uma lista vazia . Imprima a lista

In [29]:
lista = []

print(lista)

[]

2) Crie uma lista “idade” com a idade de 10 pessoas. Imprima a lista.

In [30]:
idades = [10, 18, 17, 14, 15, 9, 20, 25, 6, 8]

print(idades)

[10, 18, 17, 14, 15, 9, 20, 25, 6, 8]

3) Solicite ao usuário uma nova idade e insira na lista. Imprima a lista.

In [31]:
idade = int(input("Digite uma nova idade: "))

idades.append(idade)

4) Crie uma nova lista “nome” com o nome de 6 pessoas.Imprima a lista

In [32]:
nomes = ['Henrique', 'Raphael', 'Eduardo', 'Breno', 'Gianluca', 'Pedro']

5) Crie uma nova lista “nome_idade” com o conteúdo das duas listas anteriores. Imprima a lista.

In [38]:
nome_idade = nomes + idades

print(nome_idade)

['Henrique', 'Raphael', 'Eduardo', 'Breno', 'Gianluca', 'Pedro', 10, 18, 17, 14, 15, 9, 20, 25, 6, 8, 18]

6) Imprima a lista “idade” e imprima o 5º elemento dessa lista

In [34]:
print(idades[4])

15

7) Imprima a lista “idade” e imprima o elemento que está na posição/ índice 5 dessa list

In [35]:
print(idades[5])

9

8) Imprima a lista “idade” e imprima o elemento que está na posição/indice -5 dessa lista.

In [36]:
print(idades[-5])

20

9) Imprima a lista “nome_idade “ e imprima a 4º idade dessa lista

In [40]:
print(nome_idade[8])

17

10) Imprima a lista “nome” e informe quantos elementos essa lista possui.

In [ ]:
print(len(nomes))

6

11) Concatene a lista “nome” com a lista “idade

In [ ]:
print(nomes + idades)

['Henrique', 'Raphael', 'Eduardo', 'Breno', 'Gianluca', 'Pedro', 10, 18, 17, 14, 15, 9, 20, 25, 6, 8]

12) Crie duas cópias da lista idade e imprima o resultado.

In [ ]:
print(idade * 2)

[10, 18, 17, 14, 15, 9, 20, 25, 6, 8, 10, 18, 17, 14, 15, 9, 20, 25, 6, 8]

13) Imprima a lista “nome” e verifique se o nome Joana consta ou não nessa lista

In [ ]:
print(("Joana" in nomes)*"Incluso" or "Não incluso" )

Não incluso

14) Imprima a lista idade e retorne a maior idade, a menor idade e a soma de todas as idades dessa lista.

In [ ]:
print(min(idades))
print(max(idades))
print(sum(idades))

6
25
142

15) Insira na lista “nome” um novo nome e na lista “idade” uma nova idade. Imprima as duas listas

In [ ]:
nomes.append("Yasmin")
idades.append(22)

16) Insira uma novo nome no início da lista “nome” e uma nova idade no início da lista “idade”. 
Imprima as listas

In [ ]:
nomes.insert(0, "Zirlene")
idades.insert(0, "47")

17) Imprima lista “nome” e a lista “idade e remova a última idade da lista “idade”e o último nome 
da lista “nome”. Imprima as duas lista.

In [41]:
print(nomes)
print(idades)

nomes.pop()
idades.pop()

print(nomes)
print(idades)

['Henrique', 'Raphael', 'Eduardo', 'Breno', 'Gianluca', 'Pedro']
[10, 18, 17, 14, 15, 9, 20, 25, 6, 8, 18]
['Henrique', 'Raphael', 'Eduardo', 'Breno', 'Gianluca']
[10, 18, 17, 14, 15, 9, 20, 25, 6, 8]

18) Imprima a lista “nome” e a lista “idade”. Remova o nome que está na posição/indice 3 da lista 
“nome” e remova a idade que está na posição 2 da lista idade. Imprima novamente as listas para 
checagem.

In [42]:
print(nomes)
print(idades)

nomes.pop(3)
idades.pop(2)

print(nomes)
print(idades)

['Henrique', 'Raphael', 'Eduardo', 'Breno', 'Gianluca']
[10, 18, 17, 14, 15, 9, 20, 25, 6, 8]
['Henrique', 'Raphael', 'Eduardo', 'Gianluca']
[10, 18, 14, 15, 9, 20, 25, 6, 8]

19) Informe um nome e uma idadade existente nas listas “nome” e “idade” e remova esses 
elementos dessas listas.

In [ ]:
nome = input("Nome: ")
nomes.remove(nome)

idade = input("Idade: ")
idades.remove(idade)

20) Coloque em ordem crescente as duas listas (nome/idade). Imprima as listas

In [45]:
nomes.sort()
idades.sort()

print(nomes)
print(idades)

['Eduardo', 'Gianluca', 'Henrique', 'Raphael']
[6, 8, 9, 10, 14, 15, 18, 20, 25]

21) Imprima as duas lista (nome/idade) em ordem reversa.

In [48]:
nomes.reverse()
idades.reverse()

print(nomes)
print(idades)

['Raphael', 'Henrique', 'Gianluca', 'Eduardo']
[25, 20, 18, 15, 14, 10, 9, 8, 6]


22) Verifique quantas vezes um determinado número inteiro aparece na lista idade

In [51]:
print(idades.count(18))

1